.aboutSlider {
	padding: 100px 0 100px 0;
	background-color:#dfdbdb ;
}
.aboutUs {
	text-align: center;
		&__title {
			@include text('montserrat', 20px, 400);
			color:$mainColorText;
			@extend %titleUnderline;
				&::before{
					left: 30px;
					background-color: $mainColorText;
				}
			}
		&__subTitle {
			@include text('robotoslab', 16px, 400);
			color:$mainColorText;
			padding: 30px 0px 70px 0px;
		}
	}
.aboutUs-column {
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
		@media(max-width:360px) {
			display: block;	
		}
		&__content {
			@include text('robotoslab', 14px, 400);
			width: 555px/1180px*100%;
			color: $mainColorText;
				@media(max-width:360px){
					width: 100%;
						&:nth-child(1){
							padding-bottom: 20px;
						}
						&:nth-child(2){
							text-align: right;
						}
				}
		}
	}
.slider {
	position: relative;
	outline: none;
	.slick-arrow{
		position: absolute;
		top: 35%;
		z-index: 10;
		font-size: 0;
		cursor: pointer;
	}
	.slick-arrow.slick-prev{
		left: 6px;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: 1px solid #000;
		outline: none;
			&:hover{
				background-color: $colorArrow;
			}
			&:before{
				content: "\e901";
				font-family: 'icomoon';
				font-size: 25px;
				color: #000;
			}
		}
	.slick-next.slick-arrow{
		right: 5px;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: 1px solid #000;
		outline: none;
			&:hover{
				background-color: $colorArrow;
			}
			&:before{
				content: "\e900";
				font-family: 'icomoon';
				font-size: 25px;
				color: #000;
			}
		}
	.slick-arrow.slick-disabled{
		background-color: $colorArrow;
	}
	.slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 35px;
	}
	.slick-dots li{
		list-style: none;
		margin-left: 25px;
	}
	.slick-dots li:nth-child(1){
		margin: 0;
	}
	.slick-dots button{
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color: transparent;
		border-radius: 50%;
		border:1px solid #000;
		outline: none;
		cursor: pointer;
	}
	.slick-dots li.slick-active button{
		background-color: $colorDots;
	}
		&__item {
			text-align: center;
			outline: none;
		}
		&__img {
		position: relative;
		display: inline-block;
			&:hover{
				opacity: 1;
			}
		}
		&__icon {
			@extend %blackout;
			font-size: 10px;
			padding-top: 225px;
			height: 275px;
			background: $blackoutSlider;
			color: #fff;
		}
		&__title {
			@include text('montserrat', 14px, 400);
			color: #555555;
			padding: 15px 0px 15px 0px;
		}
		&__subTitle {
			@include text('robotoslab', 13px, 400);
			color: #555555;
		}
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.slick-slide{
	outline: none;
}
.fa-square{
	color: $colorIcon;
	opacity: 0;
	
}
.fa-stack:hover .fa-square{
	opacity: 1;
}
a:focus{
	outline-color: transparent;
}
