.recentblog-posts {
	padding: 100px 0px 100px 0px;
}
.blogposts-header {
	text-align: center;
	&__title {
		@include text('montserrat', 20px, 400); 
		color:$mainColorText;
		@extend %titleUnderline;
			&:before{
				left: 40%;
				background-color: $mainColorText ;
			}
	}
	&__subtitle {
		@include text('RobotoSlab', 16px, 400); 
		color:$mainColorText;
		padding: 30px 0px 30px 0px;
	}
}
.blogposts-main{
	margin: 40px 0px 40px 0px;
		&:nth-child(4){
			margin-bottom: 0;
		}
	display: flex;
	@media(max-width: 940px){
		display: block;
	}
}
.blogposts-img {
	margin-right:40px;
	@media(max-width: 940px){
		max-width: 100%;	
	}
}
.blogposts-date{
	border: 2px solid $mainColorText;
	width: 72px;
	height: 72px;
	text-align: center;
	position: relative;
	margin-right: 27px ;
	&__number{
		@include text('montserrat', 24px, 700);
		color: $mainColorText;
		position: absolute;
		left: 22px;
		top: 9px;
	}
	&__month{
		@include text('montserrat', 14px, 700);
		color: $mainColorText;
		text-transform: uppercase;
		position: absolute;
		left: 19px;
		top: 39px;
	}
}
.blogposts-heading{
	display: flex;
	align-items: center;
	@media(max-width: 940px){
		margin-top: 30px;
		justify-content: space-between;
		
	}
}
.blogposts-text{
	&__title {
		@include text('Montserrt', 16px, 400);
		text-transform: uppercase;
		color: $mainColorText;
		&:hover{
			color:$colorHoverText;
		}
	}
	&__subtitle {
		@include text('RobotoSlab', 13px, 400,);
		font-style: italic;
		color: $mainColorText;
		padding-top: 20px;
		&:hover span{
			color:$colorHoverText;
		}
	}
}
.blogposts-content {
	&__text {
		@include text2('RobotoSlab', 14px, 400, 1.6em);
		color: $mainColorText;
		padding: 25px 0px 35px 0px;
	}
	&__btn {
		@include text('RobotoSlab', 13px, 700);
		border: none;
		background-color: transparent;
		cursor: pointer;
		&:hover{
			color:$colorHoverText;
		}
	}
}
