<section id="blog" class="recentblog-posts">
	<div class="wrapper">

		<div class="blogposts-header">
			<h2 class="blogposts-header__title">Recent blog posts</h2>
			<p class="blogposts-header__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
		</div>
		<div class="blogposts-main">
			<div class="blogposts-img">
				<img src="../img/Recent_Blog_1.jpg" alt="Recent Blog Posts">
			</div>
			<div class="blogposts-content">
				<div class="blogposts-heading">
					<div class="blogposts-date">
						<span class="blogposts-date__number">18</span>
						<br>
						<span class="blogposts-date__month">oct</span>
					</div>
					<div class="blogposts-text">
						<h3 class="blogposts-text__title">Startup ideas needs to be funded </h3>
						<p class="blogposts-text__subtitle">By <span>Khalil</span> Uddin in<span> Development</span> </p>
					</div>
				</div>
				<p class="blogposts-content__text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
						eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem
						ipsum
						dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam
						erat, sed diam
				</p>
				<form action="#">
					<button class="blogposts-content__btn">Read more</button>
				</form>
			</div>
		</div>
		<hr>
		<div class="blogposts-main">
			<div class="blogposts-img">
				<img src="../img/Recent_Blog_2.jpg" alt="Recent Blog Posts">
			</div>
			<div class="blogposts-content">
				<div class="blogposts-heading">
					<div class="blogposts-date">
						<span class="blogposts-date__number">18</span>
						<br>
						<span class="blogposts-date__month">oct</span>
					</div>
					<div class="blogposts-text">
						<h3 class="blogposts-text__title">User Interface Designing Elements </h3>
						<p class="blogposts-text__subtitle">By <span>Khalil</span> Uddin in<span> Development</span> </p>
					</div>
				</div>
				<p class="blogposts-content__text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
						eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem
						ipsum
						dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam
						erat, sed diam 
				</p>
				<form action="#">
					<button class="blogposts-content__btn">Read more</button>
				</form>
			</div>
		</div>
	</div>
</section>