<section id="clients" class="clients">
	<div class="wrapper">
		<div class="slider-logo">
			<div class="slider-logo__item">
				<div class="slider-logo__img">
					<img src="img/logoSlider2.png" alt="icon logo">
					<img src="img/logoSlider1.png" alt="icon logo">
					<img src="img/logoSlider5.png" alt="icon logo">
					<img src="img/logoSlider3.png" alt="icon logo">
					<img src="img/logoSlider4.png" alt="icon logo">
				</div>
				<div class="slider-logo__content">
					<p>"Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
						quibusdam et aut officiis debitis aut rerum"</p>
					<p>John Doe, Google Inc.</p>
				</div>
			</div>
			<div class="slider-logo__item">
				<div class="slider-logo__img">
					<img src="img/logoSlider1.png" alt="icon logo">
					<img src="img/logoSlider2.png" alt="icon logo">
					<img src="img/logoSlider5.png" alt="icon logo">
					<img src="img/logoSlider3.png" alt="icon logo">
					<img src="img/logoSlider4.png" alt="icon logo">
				</div>
				<div class="slider-logo__content">
					<p>"Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
						quibusdam et aut officiis debitis aut rerum"</p>
					<p>John Doe, Google Inc.</p>
				</div>
			</div>
			<div class="slider-logo__item">
				<div class="slider-logo__img">
					<img src="img/logoSlider1.png" alt="icon logo">
					<img src="img/logoSlider2.png" alt="icon logo">
					<img src="img/logoSlider5.png" alt="icon logo">
					<img src="img/logoSlider3.png" alt="icon logo">
					<img src="img/logoSlider4.png" alt="icon logo">
				</div>
				<div class="slider-logo__content">
					<p>"Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
						quibusdam et aut officiis debitis aut rerum"</p>
					<p>John Doe, Google Inc.</p>
				</div>
			</div>
			<div class="slider-logo__item">
				<div class="slider-logo__img">
					<img src="img/logoSlider1.png" alt="icon logo">
					<img src="img/logoSlider2.png" alt="icon logo">
					<img src="img/logoSlider5.png" alt="icon logo">
					<img src="img/logoSlider3.png" alt="icon logo">
					<img src="img/logoSlider4.png" alt="icon logo">
				</div>
				<div class="slider-logo__content">
					<p>"Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
						quibusdam et aut officiis debitis aut rerum"</p>
					<p>John Doe, Google Inc.</p>
				</div>
			</div>
		</div>
	</div>
</section>