<section class="footer">
	<div class="footer__icon">
		<a href="">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-facebook-f fa-stack-1x fa-inverse"></i>
			</span>
		</a>
		<a href="">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
		</a>
		<a href="">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-google-plus-g fa-stack-1x fa-inverse"></i>
			</span>
		</a>
		<a href="">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-linkedin-in fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</div>
</section>
<script src="libs/libs.min.js"></script>
<script src="js/script.min.js"></script>
</body>

</html>