<section class="footer">
	<div class="footer__icon">
		<a class="footer__link" href="https://www.facebook.com/" target="_blank"><span class="fa-stack fa-2x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="footer__link" href="https://twitter.com/" target="_blank"><span class="fa-stack fa-2x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="footer__link" href="https://www.google.com/" target="_blank"><span class="fa-stack fa-2x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fab fa-google-plus-g fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="footer__link" href="https://www.linkedin.com/" target="_blank"><span class="fa-stack fa-2x">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
		</span></a>
	</div>
	<div class="footer__text">&copy 2020 startup development by stopinov roman</div>
	
</section>
<script src="libs/libs.min.js"></script>
<script src="js/script.min.js"></script>
</body>

</html>