<main id="contact" class="form">
	<div class="wrapper">
		<article class="form-header">
			<h3 class="form-header__title">Get in touch</h3>
			<p class="form-header__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
		</article>
		<section class="form-content">
				<div class="form-info">
					<div class="form-info__city">
						<h4 class="form-info__address">Address</h4>
						<p>312, 7th Ave, New York<br>
							NY 101200, United States of America</p>
					</div>
					<div class="form-info__line">
						<h4 class="form-info__hotline">Hotline (24x7)</h4>
						<p>+65 0052 300, +65 88251 210<br>
							+88 01723 511 340</p>
					</div>
					<div class="form-info__posts">
						<h4 class="form-info__email">E-mail</h4>
						<p>hapedtheme@gmail.com<br>
							khalilkode@gmail.com</p>
					</div>
				</div>
			<form name="startUp" action="#" method="POST" class="form-main">
				<div class="form-main__input">
					<input type="text" autocomplete="on" placeholder="Your name..." autofocus required>
					<input type="email" autocomplete="on" placeholder="Your E-mail...">
					<input type="text" autocomplete="on" placeholder="Your subject...">
					<input type="text" autocomplete="on" placeholder="Name company...">
				</div>
				<div>
					<textarea class="form-main__area" name="text" id="area" cols="30" rows="30"
						placeholder="Write your message..."></textarea>
				</div>
				<div class="form-main__btn">
					<button type="submit"><a>Send message</a></button>
					<p class="form-main__footnote"><span>*</span> We’ll contact you as as possible. We don’t reply on Monday.</p>
				</div>
			</form>
		</section>
	</div>
</main>