<header class="header">
	<div class="header-overlay">
		
			<div class="wrapper">
				<div class="header-items header__hat">
					<div class="header-logo">
						<a class="header-logo__link" href="https://t.me/stopinovroman" target="_blank">
							<span class="header-logo__icon"><i class="fab fa-accusoft"></i></span>
							<span class="header-logo__text">StoPinov<br> Roman</span>
						</a>
					</div>
					<nav class="menu">
						<ul class="menu__list">
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Home</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#services">Services</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">About</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Works</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Blog</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Clients</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Contact</a>
							</li>
						</ul>
					</nav>
					<div id="burger" class="burger-menu">
						<div class="burger-menu__line"></div>
					</div>
				</div>
				<div class="header-content content__items">
					<div class="header-content__items">
						<h2 class="header-content__title">Welcome to STARTUP</h2>
						<p class="header-content__subtitle">Your Favourite Creative Agency Template</p>
						<button class="header-content__btn">Get Started</button>
					</div>
				</div>
			
		</div>
	</div>
</header>