<section id="works" class="Portfolio">
	<div class="wrapper">
		<div class="Portfolio-header">
			<div class="Portfolio-header__title">Latest Works</div>
			<nav class="Portfolio-menu">
				<ul class="Portfolio-menu__list">
					<li class="Portfolio-menu__item">
						<a href="#" class="Portfolio-menu__link">All</a>
					</li>
					<li class="Portfolio-menu__item">
						<a href="#" class="Portfolio-menu__link">Branding</a>
					</li>
					<li class="Portfolio-menu__item">
						<a href="#" class="Portfolio-menu__link">Design</a>
					</li>
					<li class="Portfolio-menu__item">
						<a href="#" class="Portfolio-menu__link">Development</a>
					</li>
					<li class="Portfolio-menu__item">
						<a href="#" class="Portfolio-menu__link">Strategy</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="Portfolio-pictures">
			<div class="Portfolio-pictures__line">
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_1.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_2.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_3.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
			</div>
			<div class="Portfolio-pictures__line">
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_4.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_5.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_6.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
			</div>
			<div class="Portfolio-pictures__line">
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_7.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_8.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
				<div class="Portfolio-pictures__img">
					<img src="img/Latest_works_9.png" alt="latest Works Foto">
					<div class="Portfolio-pictures__blackout">
						<div class="Portfolio-pictures__title">Hair Dresser</div>
						<div class="Portfolio-pictures__subtitle">Branding</div>
						<button class="Portfolio-pictures__btn"><a href="">View</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>