<section class="recentblog-posts">
	<div class="wrapper">

		<div class="recent-blog">
			<div class="recent-blog__title">Recent blog posts</div>
			<div class="recent-blog__subTitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</div>
		</div>
		<div class="recent-posts">
			<div class="recent-img">
				<img src="../img/Recent_Blog_1.jpg" alt="Recent Blog Posts">
			</div>
			<div class="recent-content">
				<div class="recent-header">
					<div class="recent-date">
						<span class="recent-date__number">18</span>
						<br>
						<span class="recent-date__month">oct</span>
					</div>
					<div class="recent-text">
						<div class="recent-text__title">Startup ideas needs to be funded </div>
						<div class="recent-text__subtitle">By <span>Khalil</span> Uddin in<span> Development</span> </div>
					</div>
				</div>
				<div class="recent-content__text">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
						eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem
						ipsum
						dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam
						erat, sed diam </p>
				</div>
				<a href="#" class="recent-content__link">
					<button class="recent-content__btn">Read more</button>
				</a>
			</div>
		</div>
		<hr>
		<div class="recent-posts">
			<div class="recent-img">
				<img src="../img/Recent_Blog_2.jpg" alt="Recent Blog Posts">
			</div>
			<div class="recent-content">
				<div class="recent-header">
					<div class="recent-date">
						<span class="recent-date__number">18</span>
						<br>
						<span class="recent-date__month">oct</span>
					</div>
					<div class="recent-text">
						<div class="recent-text__title">User Interface Designing Elements </div>
						<div class="recent-text__subtitle">By <span>Khalil</span> Uddin in<span> Development</span> </div>
					</div>
				</div>
				<div class="recent-content__text">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
						eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem
						ipsum
						dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam
						erat, sed diam </p>
				</div>
				<a href="#" class="recent-content__link">
					<button class="recent-content__btn">Read more</button>
				</a>
			</div>
		</div>
	</div>
</section>