<section id="services" class="services">
	<div class="wrapper">
		<div class="services-top indent">
			<h3 class="services-top__title">services</h3>
			<p class="services-top__content">We offer ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
		</div>
		<div class="services-card indent-card">
			<div class="services-card__item">
				<img class="services-card__icon" src="img/icon1.png" alt="icon">
				<h3 class="services-card__title">Clean Typography</h3>
				<p class="services-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
					architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</p>
			</div>
			<div class="services-card__item">
				<img class="services-card__icon" src="img/icon2.png" alt="icon">
				<h3 class="services-card__title">Rock Solid Code</h3>
				<p class="services-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
					architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</p>
			</div>
			<div class="services-card__item">
				<img class="services-card__icon" src="img/icon3.png" alt="icon">
				<h3 class="services-card__title">Expert Support</h3>
				<p class="services-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
					architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</p>
			</div>
		</div>
	</div>
</section>