@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), 
	url("../fonts/#{$file_name}.woff2") format("woff2"),
	url("../fonts/#{$file_name}.ttf") format("ttf");
	font-weight: #{$weight};
	font-style: #{$style};
		};
	};
	@mixin text($font, $size, $weight) {
		font: {
		family: $font;
		size: $size;
		weight: $weight;
		}
	};
	@mixin text2($font, $size, $weight, $line) {
		font: {
		family: $font;
		size: $size;
		weight: $weight;
		}
		line-height: $line;
	}
	@mixin text3($font, $size, $weight, $line, $style) {
		font: {
		family: $font;
		size: $size;
		weight: $weight;
		}
		font-style: $style;
		line-height: $line;
	}
	@mixin icon ($icon, $ff, $fs, $color){
		content: $icon;
		font: {
				family: $ff;
				size: $fs;
			}
				color: $color;
	}