
$mainColorText:#555555;
$colorWhite:#fff;
$bg:#dfdbdb;
$color:#c0301c;

// ----------------------------------------
$colorDots:#c0301c;
$colorArrow:#c0301c;
$colorIcon:#c0301c;
$colorMenu:#c0301c;
// ---------------------------------------
$colorTextBtnBlackout:#c0301c;
$colorTextBlackout:#fff;
// ----------------------------------------
$blackoutWorks:rgba(192, 48, 28, 0.4);
$blackoutSlider:rgba(0,0,0,.5);
// -----------------------------------------
$colorHoverText:#c0301c;
$colorHoverFon:#fff;
$colorHoverTextMenuFilter:#c0301c;
// -----------------------------------------
$colorFonFooter:#c0301c;